@import url("https://fonts.googleapis.com/css2?family=Inter");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white-smoke: #f5f5f5;
  --color-secondory-red: #f54e80;
  --color-purple-1: #6a4ef5;
  --color-grey-light: #999999;
  --color-cream: #f4e8ce;
  --color-charcol-purple: #594f63;
  --color-secondory-yellow: #d0ff16;
  --color-pearl-gray: #f0f2f2;
  --color-charcol-gray: #403e3d;
  --color-lavender-mist: #d5ccff;
  --color-soft-purple: #755bf0;

  --text-large: 40px;
  --text-min-large: 32px;

  --font-inter: "Inter", sans-serif;
  --font-MC: "McLaren", sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes subtleRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-7deg);
  }
  50% {
    transform: rotate(7deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.heart-icon {
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.heart-icon:hover {
  animation: subtleRotate 0.8s ease-in-out;
}
